.expenditure {
	grid-area: expenditure;
}

.expenditure:global(#expenditure0) {
	grid-area: expenditure1;
	-ms-grid-row: 2;
	-ms-grid-column: 1;
	-ms-grid-row-align: center;
	-ms-grid-column-align: center;
}
.expenditure:global(#expenditure1) {
    grid-area: expenditure2;
	-ms-grid-row: 2;
	-ms-grid-column: 2;
	-ms-grid-row-align: center;
	-ms-grid-column-align: center;
}
.expenditure:global(#expenditure2) {
    grid-area: expenditure3;
	-ms-grid-row: 3;
	-ms-grid-column: 1;
	-ms-grid-row-align: center;
	-ms-grid-column-align: center;
}
.expenditure:global(#expenditure3) {
    grid-area: expenditure4;
	-ms-grid-row: 3;
	-ms-grid-column: 2;
	-ms-grid-row-align: center;
	-ms-grid-column-align: center;
}
.expenditure:global(#expenditure4) {
    grid-area: expenditure5;
	-ms-grid-row: 4;
	-ms-grid-column: 1;
	-ms-grid-row-align: center;
	-ms-grid-column-align: center;
}
.expenditure:global(#expenditure5){
    grid-area: expenditure6;
	-ms-grid-row: 4;
	-ms-grid-column: 2;
	-ms-grid-row-align: center;
	-ms-grid-column-align: center;
}
.expenditure:global(#expenditure6) {
    grid-area: expenditure7;
	-ms-grid-row: 5;
	-ms-grid-column: 1;
	-ms-grid-row-align: center;
	-ms-grid-column-align: center;
}