.spendature {
	grid-area: spendature;
}

.spendature:global(#spendature7) {
    grid-area: spendature8;
	-ms-grid-row: 5;
	-ms-grid-column: 2;
	-ms-grid-row-align: center;
	-ms-grid-column-align: center;
}