.header {
	/*position: fixed;*/
	left: 0;
	top: 0;
	width: 100%;
	height: 56px;
	padding: 12px 0;
	background: var(--mdc-theme-primary, #6200ee);
	/*box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
	z-index: 50;
	grid-area: header;

	-ms-grid-row: 1;
	-ms-grid-column: 1;
	-ms-grid-column-span: 2;
}

.header h1 {
	float: left;
	margin: 0;
	padding: 0 15px;
	font-size: 24px;	
	font-weight: 400;
	color: #FFF;
}

.header nav {
	float: right;
	font-size: 100%;
}

.header nav a {
	display: inline-block;
	height: 56px;
	padding: 0 15px;
	min-width: 50px;
	text-align: center;
	background: rgba(255,255,255,0);
	text-decoration: none;
	color: #FFF;
	will-change: background-color;
}

.header nav a:hover,
.header nav a:active {
	background: rgba(0,0,0,0.2);
}

.header nav a.active {
	background: rgba(0,0,0,0.4);
}

.whiteIcon {
	color: rgba(255,255,255, 0.9);
	fill: currentColor;
}

.headerItemPadding {
	padding: 0 15px;
}

.header nav a:hover,
.header nav a:active {
	background: transparent;
}

.headerLabelLarge {
	display: block;
}

.headerLabelSmall {
	display: none;
}

@media (max-width : 500px) {
	.headerLabelLarge {
		display: none;
	}
	
	.headerLabelSmall {
		display: block;
	}
 }
 



