
html, body {
	--mdc-theme-primary: #3F51B5;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: var(--mdc-theme-primary, #6200ee); /*#FAFAFA;*/
	background: #3F51B5;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0 auto;
    max-width: 1250px;
}


* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}

a:link, a:visited, a:hover, a:active {
	color: var(--mdc-theme-secondary-bg, #018786); 
	text-decoration: none;
}